.widget-container {
  max-width: 20rem;
  min-width: 19rem;
  background-color: rgb(62, 66, 73);
  border-radius: 15px;
  box-shadow: 4px 4px 10px #21242b;

  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0;

  display: inline-block;
  flex-direction: row;
  width: 80%;
  text-align: left;
}

h4 {
  font-size: 1.6rem;
  margin: 0;
}

.sensor-info {
  $sensor-info-color: rgb(202, 212, 58);
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1rem;
  background-image: linear-gradient($sensor-info-color, darken($sensor-info-color, 25%));
  box-shadow: 4px 4px 10px rgb(50, 54, 59);
  border-radius: 15px;
  margin: 1rem auto;

  .datetime {
    width: 100%;
    font-size: 1rem;
  }

  &:hover{
    $sensor-info-color-hover: darken($sensor-info-color, 10%);
    background-image: linear-gradient($sensor-info-color-hover, darken($sensor-info-color-hover, 25%));
  }
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}


.widget {
  position: relative;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgb(50, 54, 59);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;
  width: 38%;
  height: 7rem;

  font-weight: bold;

  .temp-value,
  .humidity-value {
    font-size: 3.3rem;
    text-align: left;
  }

  .temp-value::after {
    position: absolute;
    top: -1;
    padding-top: 12px;
    content: "°C";
    font-size: 0.9rem;
  }

  .humidity-value::after {
    position: absolute;
    top: -1;
    padding-top: 12px;
    content: "%";
    font-size: 0.9rem;
  }

  .metrics {
    font-size: 0.9rem;
  }
}

.temp-widget {
  background-image: linear-gradient(rgb(253, 113, 143), rgb(250, 52, 95));
}
.humidity-widget {
  background-image: linear-gradient(rgb(94, 70, 202), rgb(67, 39, 189));
}

.values-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
